.content{
    max-width: min(112rem, 90%);
}

#room header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons{
    display: flex;
}

#room header .buttons .button:nth-child(1){
    margin-right: .8rem;
    padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img{
    margin-left: 1rem;
    margin-right: 0;
    width: 2rem;
    height: 2rem;
}

#room header .buttons .button:nth-child(2){
    padding: 1.3rem 3.2rem;
}

#room header .buttons .button:nth-child(2) img{
    width: 2rem;
    height: 2rem;
}

/* Question form */

#question-form h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--black);
    margin-bottom: 2.4rem;
    line-height: 4.2rem;
}

#question-form form{
    border: .2rem solid var(--grey-blue);
    padding: 1.6rem;
    border-radius:  0 .8rem .8rem .8rem;
    margin-bottom: 1.6rem;
}

#question-form form textarea{
    resize: none;
    background: transparent;
    width: 100%;
    outline: none;
    
}

#question-form form textarea::placeholder{
    color: var(--grey-blue);
}

#question-form form footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#question-form form footer > div{
    color: var(--icons-details);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    
    display: flex;
    align-items: center;
    line-height: 0;
}

#question-form form footer > div img{
    margin-right: .9rem;
}

#question-form form footer button{
    padding: .8rem 2.4rem;
}

#questions .question-wrapper{
    background: var(--light-blue);
    padding: 2.4rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
}

