<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room-id" method="POST">
        <label class="sr-only" for="password">Insira uma senha</label>
        <input id="password" type="password" name="password" placeholder="Insira uma senha">
        <button>
            <img src="/images/users-room.svg" alt="Criar sala">    
            Criara sala
        </button>
    </form>
</section>
            